.cover-image{
    width:100%;
    position:absolute;
    top:0px;
    left:0px;
    z-index: -1;
}

.header{
    width:100%;
}
.header h1{
    padding-top: 30px;
    color: white;
    font-size: 6.5vw;
}
.like-you{
    padding: 6% 7% 0 7%;
}
.like-you h1{
    text-align: left;
    font-size: 3vw;
}
