.background__container{
    height:100%;
    overflow:hidden;
    position:absolute;
    z-index:-1;
    top:0;
    left:0;
}
.background__img{
 width:120%;
}
.landingtext__container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:100vh;
    top: 0;
    left:0;
}
.header{
    width:100%;
}
.header h1{
    padding-top: 30px;
    color: white;
    font-size: 6.5vw;
}
.like-you{
    padding: 6% 7% 0 7%;
}
.like-you h1{
    text-align: left;
    font-size: 3vw;
}
