@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
nav{
    width:100%;
}
.auth__container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.auth__logo{
    margin-top: 50px;
    width:33%
}
.home__container{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home__logo{
    width:100%;
    align-self: left;
    margin:10px;
}
.home__container h3{
    color: white;
    font-weight: 300;
    font-size: 22px;
    margin:50px 30px 30px 30px;
}

.logo-profile{
    font-size: 35px;
    font-style: italic;
    font-weight: bolder;
}
.avatar-div{
    display: flex;
    justify-content: center;
}
.bottom-shadow{
    border-bottom: gray 1px solid;
}
.navcontainer{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


