.background__container{
    height:100%;
    overflow:hidden;
    position:absolute;
    z-index:-1;
    top:0;
    left:0;
}
.background__img{
    width:120%;
}

.tab-container{
    display: flex;
    flex-direction: row;
    height: 50px;
    width:70%
}
.tab{
    cursor: pointer;
    margin: 10px;
    display: inline;
    width:100px;
    text-align: left;
    color:white;
    font-family: 'Helvetica Neue';
    font-weight: 300;
}

.tab hr{
    margin-top: 7px;
    height: 2px;
    background-color: black;
    border: none
}
.profile-container{
    display: flex;
    flex-direction: column;
    margin-left: 24%;
}
.info{
    z-index: 2;
    width: 15%;
    position: absolute;
    top: 150px;
    left: 70px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 30px 6px rgba(0,0,0,0.3);
    background-color: white;
    margin-bottom: 20px;
}

.info h1{
    font-size: 2vw;
}
.tabs{
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    background-color: darkslategrey;
}
.tab-content{
    margin: 0 30px 30px 30px;
    height: 1000px;
}
button{
    padding: 10px;
    height: 48px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    background-color: #f62919;
    border-style: none;
    cursor:pointer;
}
.modal__h1{
    text-align: left;
    font-size: 16px;
    font-family:'Helvetica Neue';
    font-weight: 650px;
}
.modal__textarea{
    height: 70px;
    width: 100%
}

.profile__button--request{
    margin: 20px;
    width:150px;
}
.modal__button{
    margin: 10px;
    width:80px;
}
.modal__button--accept{
    margin: 10px;
    padding:10px;
}
.request__container{
    width:100%;
}
.request__h1{
    margin: 20px;
    text-align: left;
    font-size: 16px;
    font-family:'Helvetica Neue';
    font-weight: 650px;
    color: white;
}
.request__button{
    margin: 10px;
    width:80px;
}
.reply__container{
    width:90%;
    padding:10px;
}
.reply__h1{
    text-align: left;
    font-size: 16px;
    font-family:'Roboto Mono';
    font-weight: 650px;
}
.reply__p{
    text-align: left;
    font-size: 14px;
    font-family:'Helvetica Neue';
    font-weight: 450px;
}
.header__name{

}
.header__name h1{
    text-align: left;
    color:white;
    font-family: 'Helvetica Neue';
    font-weight: 300;
}
.header__name h3{
    text-align: left;
    color:white;
    font-family: 'Helvetica Neue';
    font-weight: 300;
}
.track-card{
    width:80%;
    margin: 20px;
    padding: 20px;
    height: 70px;
    display: flex;
    align-items: center;
}
