@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

.tab-container{
    display: flex;
    flex-direction: row;
    height: 50px;
    width:70%
}
.tab{
    cursor: pointer;
    margin: 10px;
    display: inline;
}
.tab hr{
    margin-top: 7px;
    height: 2px;
    background-color: black;
    border: none
}
.profile-container{
    display: flex;
    flex-direction: row;

}
.info{
    margin: 30px 10px 10px 20px;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info h1{
    font-size: 2vw;

}
.tabs{
    flex-grow: 3;
    display: flex;
    flex-direction: column;
}
.tab-content{
    margin: 0 30px 30px 30px;
    height: 1000px;
    box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.4);
}
button{
    padding: 0;
    height: 48px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    background-color: #f62919;
    border-style: none;
    cursor:pointer;
}
.modal__h1{
    text-align: left;
    font-size: 16px;
    font-family:'Roboto Mono';
    font-weight: 650px;
}
.modal__textarea{
    height: 70px;
    width: 100%
}

.profile__button--request{
    width:150px;
}
.modal__button{
    margin: 10px;
    width:80px;
}
.modal__button--accept{
    margin: 10px;
    padding:10px;
}
.request__container{
    width:90%;
    height:100px
}
.request__h1{
    text-align: left;
    font-size: 16px;
    font-family:'Roboto Mono';
    font-weight: 650px;
}
.request__button{
    margin: 10px;
    width:80px;
}
.reply__container{
    width:90%;
    padding:10px;
}
.reply__h1{
    text-align: left;
    font-size: 16px;
    font-family:'Roboto Mono';
    font-weight: 650px;
}
.reply__p{
    text-align: left;
    font-size: 14px;
    font-family:'Helvetica Neue';
    font-weight: 450px;
}